.container
{
    height : 10vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    padding-left : 20px;
    font-size: 2em;
    color : white;
    background-color: black;
    text-shadow:  1px 1px 1px #f740f4;
}

.title
{
    margin : 0;
}

.content
{
    align-self:center ;
}
